@font-face {
    font-family: "Gotham-Light";
    src: url("GothamLight.eot");
    src: url("GothamLight.eot?#iefix") format("embedded-opentype"),
         url("GothamLight.woff2") format("woff2"),
         url("GothamLight.woff") format("woff"),
         url("GothamLight.ttf") format("ttf"),
         url("GothamLight.svg#Gotham-Light") format("svg");
    font-style: normal;
    font-weight: 300;
}