@font-face {
    font-family: "Gotham-Book";
    src: url("GothamBook.eot");
    src: url("GothamBook.eot?#iefix") format("embedded-opentype"),
         url("GothamBook.woff2") format("woff2"),
         url("GothamBook.woff") format("woff"),
         url("GothamBook.ttf") format("ttf"),
         url("GothamBook.svg#Gotham-Book") format("svg");
    font-style: normal;
    font-weight: 300;
}